/* =====================================FONT IMPORT==================================================== */


@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sahitya:wght@400;700&display=swap');


/* =====================================DEFAUL SETTIGS================================================= */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Geologica', sans-serif;

}

body{
    background: var(--bg-color);
    -webkit-user-select: none;
    user-select: none;

    & h1{
        font-family: 'Noto Sans', sans-serif;
        font-size: 25px;
        font-weight: 700;
        color: #ff4102;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    & h2{
        line-height: 2;
        font-size: 25px;
        color: #ff4102;
        font-family: 'Noto Sans Devanagari', sans-serif;
        font-weight: 700;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    & p{
        line-height: 1.5;
        font-size: 25px;
        font-weight: 500;
        color: rgb(255, 255, 255);
        font-family: 'Sahitya', serif;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
}
:root{
    --bg-color: #002a31;
    --second-bg-color: #00333c;
    --main-color: #ff4102;
    --text-color: rgb(255, 255, 255);
    --second-text-color: #a5a5a5;
    --border-color: #ff410265;
    --border-color-second: #002227;
}

/* ============================================HEADER====================================================== */

/* header styling start */

header.sticky{
    background: url(img/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

header{
    position: fixed;
    top: 0;
    right: 0%;
    z-index: 10001;
    width: 100%;
    background: transparent;
    transition: 0.3s ease;
    .nav-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    .navbar{
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 25px;
    }

    .nav-branding{
        font-weight: 700;
        font-size: 2rem;
        color: white;
        text-decoration: none;
        font-family: 'Noto Sans', sans-serif;
        letter-spacing: 1px;

        & span{
            color: var(--main-color);
            font-family: 'Noto Sans', sans-serif;
            font-weight: 700;
            font-size: 2rem;
            letter-spacing: 1px;
            text-decoration: none;
        }
    }

    .nav-item{
        list-style: none;
    }
    & a.active{
        color: rgb(255, 255, 255);
        background: var(--main-color)
    }

    & a{
        font-size: 15px;
        text-decoration: none;
        color: white;
        transition: 0.7s ease;
        padding: 5px 10px;
        border-radius: 5px;
        
    }

    .nav-item a:hover{
        color: var(--main-color);
        background: white;
    }
}

.hamburger{
    display: none;
    cursor: pointer;
    align-items: center;
    margin-bottom: -2px;

    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: white;
    }
}

/* header media querry start */

@media(max-width: 600px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background: url(img/nav.jpg);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 0px 0;
    }

    .nav-menu.active{
        left: 0;
        padding: 50px 0;
        border-bottom: 1px solid var(--border-color-second);
    }
}

@media screen and (max-width: 600px){
    
    header{
        position: fixed;
        top: 0;
        right: 0%;
        z-index: 10001;
        width: 100%;
        background: url(img/header.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 0.3s ease;
        .nav-menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
        }
    }
}

/* header media querry end */

/* header styling end */

/* ===========================================HOME PAGE=================================================== */

/* home page styling start */

.landing-page{
    background: linear-gradient(90deg,rgba(0, 47, 70, 0.514), rgba(0, 0, 0, .50), rgba(0, 47, 70, 0.514)),
    url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;

    & .content{
        padding: 250px 15%;
        align-items: center;

        & h1{
            padding-bottom: 5px;
            text-align: center;
            font-size: 70px;
        }

        & p{
            padding: 0 20px;
            text-align: center;
        }

        & .button{
            display: flex;
            gap: 30px;
            justify-content: center;
            padding-top: 20px;
            text-align: center;
        }

        & .btn1, .btn2{
            color: white;
            padding: 5px 10px;
            background: var(--main-color);
            align-items: center;
            border: 1px solid var(--border-color);
            border-radius: 5px;
            transition: all 0.4s ease-in-out;
            box-shadow: 1px 1px 5px black;
        }

        .button .btn1:hover{
            color:var(--main-color);
            background: white;
        }

        .button .btn2:hover{
            color: var(--main-color);
            background: white;
        }
    }
}

/* home page media querry start */

@media screen and (max-width: 1200px){
    .landing-page{
        
        .content{
            padding: 200px 10%;
            transition: all 0.3s ease;
        }
    }
}

@media screen and (max-width: 900px){
    .landing-page{
        
        .content{
            padding: 150px 7%;
            transition: all 0.3s ease;
        }
    }
}

@media screen and (max-width: 768px){
    .landing-page{
        
        .content{
            padding: 130px 5%;
            transition: all 0.3s ease;

            & h1{
                font-size: 60px;
                transition: all 0.3s ease;
            }
        }
    }
}

@media screen and (max-width: 600px){
    .landing-page{
        background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)),url(img/a600.jfif);
        background-position: cener;
        background-size: cover;
        background-repeat: no-repeat;
        
        .content{
            padding: 150px 5%;
            transition: all 0.3s ease;

            & h1{
                font-size: 50px;
                transition: all 0.3s ease;
            }
            & p{
                font-size: 20px;
                text-align: justify;
                transition: all 0.3s ease;
            }
        }
    }
}

@media screen and (max-width: 480px){
    .landing-page{
        
        .content{
            padding: 150px 1%;
            transition: all 0.3s ease;

            & h1{
                font-size: 30px;
                transition: all 0.3s ease;
            }
            & p{
                font-size: 20px;
                text-align: justify;
                transition: all 0.3s ease;
            }
        }
    }
}

@media screen and (max-width: 320px){
    .landing-page{
        
        .content{
            padding: 100px 1%;
            transition: all 0.3s ease;

            & h1{
                font-size: 30px;
                transition: all 0.3s ease;
            }
            & p{
                font-size: 20px;
                text-align: justify;
                transition: all 0.3s ease;
            }
        }
    }
}

@media screen and (max-width: 265px){
    .landing-page{
        
        .content{
            padding: 80px 0.5%;
            transition: all 0.3s ease;

            & h1{
                font-size: 25px;
                transition: all 0.3s ease;
            }
            & p{
                padding: 0 10px;
                font-size: 18px;
                text-align: justify;
                transition: all 0.3s ease;
            }
        }
        .button{
            font-size: 10px;
            margin-top: -10px;
        }
    }
}

/* home page media querry end */

/* home page styling end */

/* ===========================================SHLOK MAIN PAGE========================================= */

/* shloks main page styling start */

.main-container{

    .number{
        margin: 150px 15%;
        align-content: center;
        text-align: center;
        background: var(--second-bg-color);
        border: 3px solid var(--border-color-second);
        box-shadow: 1px 1px 10px black;
        border-radius: 5px;
        & ul{
            margin: 20px 2%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            justify-content: center;
            row-gap: 30px;
            padding: 20px 0;
            background: var(--bg-color);
            border: 3px solid var(--border-color-second);
            box-shadow: 1px 1px 10px black;
            border-radius: 5px;
            

           & li{
                list-style: none;
                
                & a{
                    padding: 5px 10px;
                    border: 1px solid var(--main-color);
                    border-radius: 5px;
                    color: var(--text-color);
                    font-size: 20px;
                    font-weight: 600;
                    background: var(--main-color);
                    transition: all 0.4s ease;
                    box-shadow: 1px 1px 5px black;
                }
                & :hover{
                    color: var(--main-color);
                    background: white;
                }
            }
        }
        .table-heading{
            font-size: 30px;
            font-weight: 600;
            padding-top: 10px;
            margin-bottom: -10px;
        }
    }
}

/* shloks main page media querry start */

@media screen and (max-width: 480px){
    .main-container{

        .number{
            margin: 150px 1%;
            .table-heading{
                font-size: 25px;
            }
            & ul{
                margin: 20px 1%;

                & li{

                    & a{
                        padding: 5px;
                        font-size: 15px;
                    }
                }
            }
        }    
    }
}

/* shloks main page media querry end */

/* shloks main page styling end */


/* ===========================================SHLOK SUB-PAGES============================================== */

/* shloks sub-pages styling start */


.container{
    min-height: 100vh;
    padding: 80px 0;
    align-items: center;
    justify-content: space-between;

    .data{
        margin: 0 15%;
        background: var(--second-bg-color);
        border: 3px solid var(--border-color-second);
        box-shadow: 1px 1px 10px black;
        border-radius: 5px;
        .main-heading{
            color: var(--second-text-color);
            padding-top: 15px;
            text-align: center;
            font-size: 30px;
        }
        .last-heading{
            padding-bottom: 15px;
            color: var(--second-text-color);
            font-size: 30px;
            text-align: center;
        }
    }
    
    & .hindi{
        margin: 20px 2%;
        background: var(--bg-color);
        border: 3px solid var(--border-color-second);
        border-radius: 5px;
        box-shadow: 1px 1px 10px black;

        & h2{
            padding: 10px 0;
            text-align: center;
        }

        & p{
            padding: 10px 20px;
            text-align: justify;
        }
    }
    & .button{
        display: flex;
        gap: 30px;
        justify-content: center;
        padding: 20px 0;
        text-align: center;
    }

    & .btn1, .btn2{
        color: white;
        padding: 5px 10px;
        background: var(--main-color);
        align-items: center;
        border: 1px solid var(--border-color);
        border-radius: 5px;
        transition: all 0.4s ease-in-out;
        box-shadow: 1px 1px 5px black;
    }

    .button .btn1:hover{
        color:var(--main-color);
        background: white;
    }

    .button .btn2:hover{
        color: var(--main-color);
        background: white;
    }
}

/* shlok sub-pages media querry start */

@media screen and (max-width: 1496px){
    .container{
        padding: 100px 0;
        transition: all 0.3s ease;

        .data{
            margin: 0 5%;
            transition: all 0.3s ease;
        }
    }
}

@media screen and (max-width: 1200px){
    .container{
        padding: 80px 0;
        transition: all 0.3s ease;

        .data{
            margin: 0 3%;
            transition: all 0.3s ease;
        }
    }
}
@media screen and (max-width: 900px){
    .container{
        padding: 80px 0;
        transition: all 0.3s ease;

        .data{
            margin: 0 2%;
        }
        .hindi{
            & h2{
                font-size: 20px;
            }
            & p{
                font-size: 20px;
            }
        }
    }
}
@media screen and (max-width: 768px){
    .container{
        padding: 80px 0;
        transition: all 0.3s ease;

        .data{
            margin: 0 1%;
        }
        .hindi{
            margin: 20px 1%;
            & h2{
                font-size: 20px;
            }
            & p{
                font-size: 20px;
            }
        }
    }
}
@media screen and (max-width: 768px){
    .container{
        padding: 80px 0;
        transition: all 0.3s ease;

        .data{
            margin: 0 0%;
        }
        .hindi{
            margin: 20px 0.5%;
            & h2{
                padding: 10px 10px;
                font-size: 20px;
            }
            & p{
                padding: 10px 10px;
                font-size: 20px;
            }
        }
    }
}

/* shloks sub-pages media querry end */

/* shloks sub-pages styling end */



/* ========================================ABOUT PAGE===================================================== */

/* about page styling start */

.about-container{
    min-height: 100vh;
    margin: 100px 15%;
    background: var(--second-bg-color);
    border: 3px solid var(--border-color-second);
    border-radius: 5px;
    box-shadow: 1px 1px 10px black;

    & .wrapper{
        margin: 20px 2%;
        background: var(--bg-color);
        border: 3px solid var(--border-color-second);
        box-shadow: 1px 1px 10px black;
        border-radius: 5px;

        & h2{
            font-size: 35px;
            padding: 10px 20px;
            text-align: center;

        }
        & p{
            padding: 10px 20px;
            text-align: justify;
            line-height: 2;
        }
    }
}

/* about page media querry start */

@media screen and (max-width: 1200px){
    .about-container{
        transition: all 0.3s ease;
        margin: 100px 10%;
    
        & .wrapper{
            margin: 20px 2%;
    
            & h2{
                font-size: 35px;
                padding: 10px 20px;
                text-align: center;
    
            }
            & p{
                padding: 10px 20px;
                text-align: justify;
                line-height: 2;
            }
        }
    }
}

@media screen and (max-width: 900px){
    .about-container{
        transition: all 0.3s ease;
        margin: 100px 7%;
    
        & .wrapper{
            margin: 20px 2%;
    
            & h2{
                font-size: 35px;
                padding: 10px 20px;
                text-align: center;
    
            }
            & p{
                padding: 10px 20px;
                text-align: justify;
                line-height: 2;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .about-container{
        transition: all 0.3s ease;
        margin: 100px 5%;
    
        & .wrapper{
            margin: 20px 2%;
    
            & h2{
                font-size: 30px;
                padding: 10px 20px;
                text-align: center;
    
            }
            & p{
                padding: 10px 20px;
                text-align: justify;
                line-height: 2;
                font-size: 23px;
            }
        }
    }
}

@media screen and (max-width: 600px){
    .about-container{
        transition: all 0.3s ease;
        margin: 100px 2%;
    
        & .wrapper{
            margin: 20px 2%;
    
            & h2{
                font-size: 28px;
                padding: 10px 20px;
                text-align: center;
    
            }
            & p{
                padding: 10px 20px;
                text-align: justify;
                line-height: 2;
                font-size: 22px;
            }
        }
    }
}

@media screen and (max-width: 480px){
    .about-container{
        transition: all 0.3s ease;
        margin: 0px 0%;
    
        & .wrapper{
            margin: 100px 1%;
    
            & h2{
                line-height: 1.5;
                font-size: 25px;
                padding: 10px 20px;
                text-align: center;
    
            }
            & p{
                line-height: 1.5;
                padding: 10px 20px;
                text-align: justify;
                line-height: 2;
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 320px){
    .about-container{
        transition: all 0.3s ease;
        margin: 0px 0%;
    
        & .wrapper{
            margin: 100px 1%;
    
            & h2{
                line-height: 1.5;
                font-size: 25px;
                padding: 10px 20px;
                text-align: center;
    
            }
            & p{
                padding: 10px 15px;
                text-align: justify;
                line-height: 2;
                font-size: 20px;
                line-height: 1.5;
            }
        }
    }
}

/* about page media querry end */
/* about page styling end */

/* ==============================================FOOTER===================================================== */

/* footer styling start */

footer{
    padding-top: 10px;
    width: 100%;
    min-height: 5vh;
    background: var(--second-bg-color);
    font-size: 15px;
    color: white;
    font-family: system-ui, '-apple-system', BlinkMacSystemFont;
    text-align: center;
    font-weight: 600;
    bottom: 0;
    border-top: 1px solid var(--border-color-second);
}









